---
layout: rightcol
title: Certification LRA 1.0
---

.h2 MicroProfile LRA 1.0 Compatible Certification Request

.h3 Specification details

%p
  Repository -
  %a{:href => "https://github.com/eclipse/microprofile-lra"} https://github.com/eclipse/microprofile-lra


.h4 MicroProfile LRA 1.0

%ul
  %li
    %p
      Tag -
      %a{:href => "https://github.com/eclipse/microprofile-lra/releases/tag/1.0"} https://github.com/eclipse/microprofile-lra/releases/tag/1.0
  %li
    %p
      Commit -
      %a{:href => "https://github.com/eclipse/microprofile-lra/commit/99ee9b1f7dc02b10ee7b7f15d26234ad8ba2df15"} https://github.com/eclipse/microprofile-lra/commit/99ee9b1f7dc02b10ee7b7f15d26234ad8ba2df15
  %li
    %p
      Download -
      %a{:href => "https://download.eclipse.org/microprofile/staging/microprofile-lra-1.0"} https://download.eclipse.org/microprofile/staging/microprofile-lra-1.0

.h4 MicroProfile LRA 1.0-RC3 (used for the CCR)

%ul
  %li
    %p
      Tag -
      %a{:href => "https://github.com/eclipse/microprofile-lra/releases/tag/1.0-RC3"} https://github.com/eclipse/microprofile-lra/releases/tag/1.0-RC3
  %li
    %p
      Commit -
      %a{:href => "https://github.com/eclipse/microprofile-lra/commit/169d01605b3b2f5ec7f2b8deefa403c8cf949973"} https://github.com/eclipse/microprofile-lra/commit/169d01605b3b2f5ec7f2b8deefa403c8cf949973
  %li
    %p
      Download -
      %a{:href => "https://download.eclipse.org/microprofile/microprofile-lra-1.0-RC3"} https://download.eclipse.org/microprofile/microprofile-lra-1.0-RC3

%p
  The are no differences between LRA 1.0 and LRA 1.0-RC3. The API and TCK binaries are the same.

.h3 Implementation details

%ul
  %li
    %p
      Implementation Name -
      %a{:href => "https://narayana.io/"} Narayana
  %li
    %p
      Version - 5.11.1.Final
  %li
    %p
      Download Binary -
      %a{:href => "http://www.jboss.org/jbosstm/downloads/5.11.1.Final/binary/narayana-full-5.11.1.Final-bin.zip"} http://www.jboss.org/jbosstm/downloads/5.11.1.Final/binary/narayana-full-5.11.1.Final-bin.zip
  %li
    %p
      Download Source Code -
      %a{:href => "http://www.jboss.org/jbosstm/downloads/5.11.1.Final/src/narayana-full-5.11.1.Final-src.zip"} http://www.jboss.org/jbosstm/downloads/5.11.1.Final/src/narayana-full-5.11.1.Final-src.zip
  %li
    %p
      VCS revision tag
      %a{:href => "https://github.com/jbosstm/narayana/releases/tag/5.11.1.Final"} https://github.com/jbosstm/narayana/releases/tag/5.11.1.Final
  %li
    %p
      VCS revision commit
      %a{:href => "https://github.com/jbosstm/narayana/commit/d5e35b549fad8fe929179ce59cf80aec4794dfcc"} https://github.com/jbosstm/narayana/commit/d5e35b549fad8fe929179ce59cf80aec4794dfcc

.h3 Compatibility Certification Request JDK 11

.h4 Environment details

%ul
  %li
    %p
      %strong Output of `uname -a`
      %pre.language-haml
        %code
          :preserve
            Linux XYZ 5.10.15-200.fc33.x86_64 #1 SMP Wed Feb 10 17:46:55 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
  %li
    %p
      %strong Output of `java -version`
      %pre.language-haml
        %code
          :preserve
            openjdk version "11.0.8" 2020-07-14
            OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.8+10)
            OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.8+10, mixed mode)
  %li
    %p
      %strong Output of `mvn -version`
      %pre.language-haml
        %code
          :preserve
            Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
            Maven home: /opt/maven/apache-maven-3.6.3
            Java version: 11.0.8, vendor: AdoptOpenJDK, runtime: /opt/java/hotspot/jdk-11.0.8+10
            Default locale: en_US, platform encoding: UTF-8
            OS name: "linux", version: "5.10.15-200.fc33.x86_64", arch: "amd64", family: "unix"

.h4 CCR execution JDK 11

%ul
  %li
    %p
      Command -
      %code WORKSPACE=$PWD PROFILE=LRA ./scripts/hudson/narayana.sh
  %li
    %p{:class => page.output_path.start_with?("/lra") ? "active": ""}
      Results failsafe-reports zip -
      %a{:href => relative("/lra/certifications/microprofile-lra-1.0/lra-1.0-jdk-11-ccr-results.zip")} lra-1.0-jdk-11-ccr-results.zip
  %li
    %p
      %strong Results
      %pre.language-haml
        %code
          :preserve
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckCancelOnTests
            -------------------------------------------------------------------------------
            Tests run: 6, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 9.464 s - in org.eclipse.microprofile.lra.tck.TckCancelOnTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckContextTests
            -------------------------------------------------------------------------------
            Tests run: 11, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 40.809 s - in org.eclipse.microprofile.lra.tck.TckContextTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckInvalidSignaturesTests
            -------------------------------------------------------------------------------
            Tests run: 5, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 40.588 s - in org.eclipse.microprofile.lra.tck.TckInvalidSignaturesTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckLRATypeTests
            -------------------------------------------------------------------------------
            Tests run: 75, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 12.774 s - in org.eclipse.microprofile.lra.tck.TckLRATypeTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckParticipantTests
            -------------------------------------------------------------------------------
            Tests run: 5, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 37.642 s - in org.eclipse.microprofile.lra.tck.TckParticipantTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckRecoveryTests
            -------------------------------------------------------------------------------
            Tests run: 2, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 41.537 s - in org.eclipse.microprofile.lra.tck.TckRecoveryTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckTests
            -------------------------------------------------------------------------------
            Tests run: 23, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 24.288 s - in org.eclipse.microprofile.lra.tck.TckTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckUnknownStatusTests
            -------------------------------------------------------------------------------
            Tests run: 2, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 19.13 s - in org.eclipse.microprofile.lra.tck.TckUnknownStatusTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckUnknownTests
            -------------------------------------------------------------------------------
            Tests run: 4, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 29.359 s - in org.eclipse.microprofile.lra.tck.TckUnknownTests

            [INFO] Results:
            [INFO]
            [INFO] Tests run: 133, Failures: 0, Errors: 0, Skipped: 0


.h3 Compatibility Certification Request JDK 8

.h4 Environment details

%ul
  %li
    %p
      %strong Output of `uname -a`
      %pre.language-haml
        %code
          :preserve
            Linux XYZ 5.10.15-200.fc33.x86_64 #1 SMP Wed Feb 10 17:46:55 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
  %li
    %p
      %strong Output of `java -version`
      %pre.language-haml
        %code
          :preserve
            openjdk version "1.8.0_265"
            OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_265-b01)
            OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.265-b01, mixed mode)

  %li
    %p
      %strong Output of `mvn -version`
      %pre.language-haml
        %code
          :preserve
            Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
            Maven home: /opt/maven/apache-maven-3.6.3
            Java version: 1.8.0_265, vendor: AdoptOpenJDK, runtime: /opt/java/hotspot/jdk8u265-b01/jre
            Default locale: en_US, platform encoding: UTF-8
            OS name: "linux", version: "5.10.15-200.fc33.x86_64", arch: "amd64", family: "unix"

.h4 CCR execution JDK 8

%ul
  %li
    %p
      Command -
      %code WORKSPACE=$PWD PROFILE=LRA ./scripts/hudson/narayana.sh
  %li
    %p{:class => page.output_path.start_with?("/lra") ? "active": ""}
      Results failsafe-reports zip -
      %a{:href => relative("/lra/certifications/microprofile-lra-1.0/lra-1.0-jdk-8-ccr-results.zip")} lra-1.0-jdk-8-ccr-results.zip
  %li
    %p
      %strong Results
      %pre.language-haml
        %code
          :preserve
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckCancelOnTests
            -------------------------------------------------------------------------------
            Tests run: 6, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 9.499 s - in org.eclipse.microprofile.lra.tck.TckCancelOnTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckContextTests
            -------------------------------------------------------------------------------
            Tests run: 11, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 40.819 s - in org.eclipse.microprofile.lra.tck.TckContextTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckInvalidSignaturesTests
            -------------------------------------------------------------------------------
            Tests run: 5, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 41.495 s - in org.eclipse.microprofile.lra.tck.TckInvalidSignaturesTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckLRATypeTests
            -------------------------------------------------------------------------------
            Tests run: 75, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 12.997 s - in org.eclipse.microprofile.lra.tck.TckLRATypeTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckParticipantTests
            -------------------------------------------------------------------------------
            Tests run: 5, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 36.532 s - in org.eclipse.microprofile.lra.tck.TckParticipantTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckRecoveryTests
            -------------------------------------------------------------------------------
            Tests run: 2, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 44.449 s - in org.eclipse.microprofile.lra.tck.TckRecoveryTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckTests
            -------------------------------------------------------------------------------
            Tests run: 23, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 24.731 s - in org.eclipse.microprofile.lra.tck.TckTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckUnknownStatusTests
            -------------------------------------------------------------------------------
            Tests run: 2, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 19.886 s - in org.eclipse.microprofile.lra.tck.TckUnknownStatusTests
            -------------------------------------------------------------------------------
            Test set: org.eclipse.microprofile.lra.tck.TckUnknownTests
            -------------------------------------------------------------------------------
            Tests run: 4, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 30.248 s - in org.eclipse.microprofile.lra.tck.TckUnknownTests
            [INFO] Results:
            [INFO]
            [INFO] Tests run: 133, Failures: 0, Errors: 0, Skipped: 0


.h3 Replicating the TCK execution

%ol
  %li
    %p
      %code git clone https://github.com/jbosstm/narayana.git -b 5.11.1.Final && cd narayana
  %li
    %p
      %code WORKSPACE=$PWD PROFILE=LRA ./scripts/hudson/narayana.sh



