---
layout: project
title: Narayana Homepage
---

/ section containing blog posts
.row-fluid.posts
  = partial( 'latest-news.html.haml', {"real_page" => page} )
  = partial( 'forum-posts.html.haml', {"real_page" => page} )