---
layout: rightcol
title: Narayana Homepage
---

.well.announcement
  %ul{:style=>'list-style-image:url(https://static.jboss.org/theme/images/common/jive-icon-announcement-16x16.gif)'}
    %li
      %h4 Announcement: Narayana #{site.current_narayana_release.version} Released!
      %p
        Great news! Today we released the latest version of our transaction software!
      %p
        Download it now from:
        %a{ :href=>"/downloads" } #{site.base_url}/downloads

.row
  .col-md-12
    %h1 Welcome to the Narayana community!
    %p
      With over 20 years of expertise in the area of transaction processing, Narayana is the premier open source transaction manager. It has been used extensively within industry and to drive standards including the OMG and Web Services.

.row
  .col-md-12
    %h2 Why choose Narayana?
    %p
      In todays business environment data corruption can have serious consequences for the enterprise including service unavailability, system reconciliation costs, and damage to customer relationships and business reputation. The Narayana transaction suite protects businesses from data corruption by guaranteeing complete, accurate business transactions for Java based applications (including those written for the JEE and EJB frameworks) thereby eliminating the risks and costs associated with time-consuming manual reconciliation following failures.
    %table.deftable
      %tbody
        %tr
          %td.termFirst
            Bullet Proof Reliability
          %td.defFirst
            Founded on industry proven technology and over a 20 year history as a leader in the field of transaction processing.
        %tr
          %td.term
            Reduced Operating Costs
          %td.def
            Built in failure recovery components that handle failures automatically with no manual intervention required. Moreover, the open source license make the product free to download and use.
        %tr
          %td.term
            Flexible Deployment Options
          %td.def
            Can be deployed stand-alone as well as within a range of different container implementations, most notably WildFly application server.
        %tr
          %td.term
            Simplicity...Not Complexity
          %td.def
            Simplifies application development as programmers are able to focus on business logic rather than specialist non-reusable, error-prone failure recovery code.
        %tr
          %td.term
            Full Distributed Transactions
          %td.def
            Preserves overall system state integrity regardless of the topology of the deployment and creates a unified transactioning solution for all resources - databases, message queues and arbitrary custom components.
        %tr
          %td.term
            Easily integrate with other JBoss frameworks
          %td.def
            Connect your transactional applications to services written for the WildFly application server.
        %tr
          %td.term
            Participate in transactions that span from Java to C++ and beyond
          %td.def
            Narayana provides language bindings for both C/C++ and Java.
        %tr
          %td.term
            Industry Leading Interoperability
          %td.def
            Extends beyond JEE to Web Services and REST through support of the WS-Coordination, WS-AtomicTransaction, WS-BusinessActivity and REST-AT specifications.
        %tr
          %td.term
            Professional Support
          %td.def
            Red Hat delivers the Professional Support, Consulting, and Training that you need whether you are testing a proof of concept, deploying a mission-critical application, or rolling out across your entire enterprise.
            
.row
  .col-md-12
    %h3 What is Narayana?
    %p
      Narayana is a transactions toolkit which provides support for applications developed using a broad range of standards-based transaction protocols:
    %ol
      %li
        JTA
      %li
        JTS
      %li
        Web-Service Transactions
      %li
        REST Transactions
      %li
        STM
      %li
        XATMI/TX
    %p
      %em.Although Narayana is shipped as part of the WildFly application server, it continues to be developed as a stand-alone transaction manager. Narayana provides everything you need to develop transactional applications running over your own transport protocols and can be embedded in a range of containers.
      
      %img{:src => "/images/narayana-architecture-diagram.jpg", :class => "img-responsive"}

.row
  = partial( 'latest-news.html.haml', {"real_page" => page} )
  = partial( 'forum-posts.html.haml', {"real_page" => page} )
