<div class="page-links">
    <h2 class="h3">Other Resources</h2>
    <a href="/sub-projects/index.html">Sub-Projects</a>
    <a href="/architecture/index.html">Architecture</a>
    <a href="/arjuna-core/index.html">Arjuna Core</a>
    <a href="/transaction-fundamentals/index.html">Transaction Fundamentals</a>
    <a href="/presentations/index.html">Presentations</a>
    <a href="/narayana-features/index.html">Features</a>
    <a href="/jakarta-ee-support/index.html">Jakarta EE Support</a>
    <a href="/platform-support/index.html">Platform Support</a>
    <a href="/web-services-support/index.html">Web Services Support</a>
    <a href="/lra/index.html">Long Running Actions</a>
    <a href="/history/index.html">History</a>
  </div>