<div class="page-links">
  <h2 class="h3">Getting Started</h2>
  <a href="/downloads/">Download the latest version of Narayana standalone</a>
  <a href="https://www.wildfly.org/downloads/">Or download the latest release of WildFly</a>
  <a href="/documentation/">Read our getting started documentation</a>
  <a href="https://github.com/jbosstm/quickstart">Run our quickstarts</a>
  <a href="/community/#our-team">Meet the team</a>
  <a href="https://github.com/jbosstm/narayana/blob/main/CONTRIBUTING.md">Get involved!</a>
</div>
<div class="page-links">
  <a class="h3" href="https://groups.google.com/forum/#!forum/narayana-users">Latest forum discussions</a>
  <a class="h3" href="https://jbossts.blogspot.com/"> Latest news</a>
</div>
<div class="twitter">
  <a class="twitter-timeline" href="https://twitter.com/narayana_io?ref_src=twsrc%5Etfw">Tweets by narayana_io</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
  <a href="https://twitter.com/narayana_io?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @narayana_io</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="page-links">
  <h2 class="h3">Compliance</h2>
</div>
<div class="well">
  <div id="badges">
    <ul style="list-style-type: none">
      <li class="pull-left">
        <div style="width: 5px;height: 5px;">
        </div>
      </li>
      <li class="license-apache">
        <a href="http://www.apache.org/licenses/">
          <em>Apache License, Version 2.0</em>
        </a>
      </li>
      <li class="arquillian">
        <a href="https://www.jboss.org/arquillian">Tested with Arquillian</a>
      </li>
    </ul>
    <div style="clear: both; height:1px;">
    </div>
  </div>
</div>
<div id="coolstuff">
  <div style="margin-top: 2px; margin-bottom: 15px; margin-right: 10px; text-align: center;">
    <div style="display: inline-block">
      <a href="https://design.jboss.org/coolstuff/wallpaper-narayana.html">Desktop Wallpaper</a>
    </div>
    <div style="display: inline-block">
      <a href="https://www.cafepress.com/jbossorg/7793745">Project Swag</a>
    </div>
  </div>
  <a href="https://design.jboss.org/coolstuff/wallpaper-narayana.html">
    <img alt="Cool Stuff" class="img-responsive" height="110" src="/cool-stuff.png" style="margin:0 auto;"
      width="225">
  </a>
</div>
<div class="page-links">
  <h3>Sponsors</h3>
  <ul>
    <li>
      <a href="https://www.redhat.com">
        <img alt="Red Hat" src="https://static.jboss.org/theme/images/common/redhat_logo.png">
      </a>
      <p>Red Hat employs the majority of contributors and provides all project infrastructure.</p>
    </li>
  </ul>
</div>
<div>
  <a href="https://access.redhat.com/security/team/contact/">
    <img alt="Find a security issue with a JBoss Project or Product? Report it now" class="img-responsive" height="110"
      src="https://static.jboss.org/common/images/securityissue.png">
  </a>
</div>
