<div class="page-links">
    <h2 class="h3">Other Resources</h2>
    <a href="/sub-projects/">Sub-Projects</a>
    <a href="/architecture/">Architecture</a>
    <a href="/arjuna-core/">Arjuna Core</a>
    <a href="/transaction-fundamentals/">Transaction Fundamentals</a>
    <a href="/presentations/">Presentations</a>
    <a href="/narayana-features/">Features</a>
    <a href="/jakarta-ee-support/">Jakarta EE Support</a>
    <a href="/platform-support/">Platform Support</a>
    <a href="/web-services-support/">Web Services Support</a>
    <a href="/lra/">Long Running Actions</a>
    <a href="/history/">History</a>
  </div>