---
layout: rightcol
title: Legacy Narayana Versions
---
%h2 Legacy Narayana Versions
%table.table.table-bordered.table-striped.white-stripes
  %thead
    %th Version
    %th Date
    %th License
    %th
  %tbody
    %tr
      %td 4.17.27.Final
      %td 2014-12-23
      %td LGPL
      %td
        %a{:href => "https://www.jboss.org/jbosstm/downloads/4.17.27.Final/binary/jbossts-full-4.17.27.Final.zip"}
          %i.icon-download-alt
          Narayana 4.17.27.Final Binary
      %tr
        %td
        %td
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.17.27.Final/src/jbossts-full-4.17.27.Final-src.zip"}
            %i.icon-download-alt
            Narayana 4.17.27.Final Source Code
      %tr
        %td 4.16.6.Final
        %td 2012-10-02
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.16.6.Final/binary/jbossts-full-4.16.6.Final.zip"}
            %i.icon-download-alt
            Narayana 4.16.6.Final Binary
      %tr
        %td
        %td
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.16.6.Final/src/jbossts-full-4.16.6.Final-src.zip"}
            %i.icon-download-alt
            Narayana 4.16.6.Final Source Code
      %tr
        %td 4.15.0.Final
        %td 2011-04-26
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.15.0.Final/binary/jbossts-full-4.15.0.Final.zip"}
            %i.icon-download-alt
            Narayana 4.15.0.Final Binary
      %tr
        %td
        %td
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.15.0.Final/src/jbossts-full-4.15.0.Final-src.zip"}
            %i.icon-download-alt
            Narayana 4.15.0.Final Source Code
      %tr
        %td 4.13.1.Final
        %td 2010-10-06
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.13.1.Final/binary/jbossts-full-4.13.1.Final.zip"}
            %i.icon-download-alt
            Narayana 4.13.1.Final Binary
      %tr
        %td
        %td
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.13.1.Final/src/jbossts-full-4.13.1.Final-src.zip"}
            %i.icon-download-alt
            Narayana 4.13.1.Final Source Code
      %tr
        %td 4.11.0.Final
        %td 2010-05-14
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.11.0.Final/binary/jbossts-full-4.11.0.Final.zip"}
            %i.icon-download-alt
            Narayana 4.11.0.Final Binary
      %tr
        %td
        %td
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.11.0.Final/src/jbossts-full-4.11.0.Final-src.zip"}
            %i.icon-download-alt
            Narayana 4.11.0.Final Source Code
      %tr
        %td 4.9.0.GA
        %td 2009-12-14
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.9.0.GA/binary/jbossts-full-4.9.0.GA.zip"}
            %i.icon-download-alt
            Narayana 4.9.0.GA Binary
      %tr
        %td
        %td
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.9.0.GA/src/jbossts-full-4.9.0.GA-src.zip"}
            %i.icon-download-alt
            Narayana 4.9.0.GA Source Code
      %tr
        %td 4.8.0.GA
        %td Wed Oct 07 11:20:06 EDT 2009
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.8.0.GA/binary/jbossts-full-4.8.0.GA.zip"}
            %i.icon-download-alt
            Narayana 4.8.0.GA Binary
      %tr
        %td
        %td
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.8.0.GA/src/jbossts-full-4.8.0.GA-src.zip"}
            %i.icon-download-alt
            Narayana 4.8.0.GA Source Code
      %tr
        %td 4.7.0.GA
        %td Mon Jun 29 15:47:24 EDT 2009
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.7.0.GA/binary/jbossts-full-4.7.0.GA.zip"}
            %i.icon-download-alt
            Narayana 4.7.0.GA Binary
      %tr
        %td
        %td
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.7.0.GA/src/jbossts-full-4.7.0.GA-src.zip"}
            %i.icon-download-alt
            Narayana 4.7.0.GA Source Code
      %tr
        %td 4.6.1.GA
        %td Mon Jun 29 15:47:24 EDT 2009
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.6.1.GA/binary/jbossts-full-4.6.1.GA.zip"}
            %i.icon-download-alt
            Narayana 4.6.1.GA Binary
      %tr
        %td
        %td
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.6.1.GA/src/jbossts-full-4.6.1.GA-src.zip"}
            %i.icon-download-alt
            Narayana 4.6.1.GA Source Code
      %tr
        %td 4.5.0.GA
        %td Mon Jun 29 15:46:09 EDT 2009
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.5.0.GA/binary/jbossts-full-4.5.0.GA.zip"}
            %i.icon-download-alt
            Narayana 4.5.0.GA Binary
      %tr
        %td
        %td
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.5.0.GA/src/jbossts-full-4.5.0.GA-src.zip"}
            %i.icon-download-alt
            Narayana 4.5.0.GA Source Code
      %tr
        %td 4.4.0.CR1
        %td Mon Jun 29 15:45:16 EDT 2009
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.4.0.CR1/binary/jbossts-full-4.4.0.CR1.zip"}
            %i.icon-download-alt
            Narayana 4.4.0.CR1 Binary
      %tr
        %td
        %td
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.4.0.CR1/src/jbossts-full-4.4.0.CR1-src.zip"}
            %i.icon-download-alt
            Narayana 4.4.0.CR1 Source Code
      %tr
        %td 4.3.GA
        %td Mon Jun 29 15:45:16 EDT 2009
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.3.GA/binary/jbossts-full-4.3.GA.zip"}
            %i.icon-download-alt
            Narayana 4.3.GA Binary
      %tr
        %td
        %td
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.3.GA/src/jbossts-full-4.3.GA-src.zip"}
            %i.icon-download-alt
            Narayana 4.3.GA Source Code
      %tr
        %td 4.2.3.SP7
        %td Mon Jun 29 15:51:42 EDT 2009
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.2.3.SP7/binary/jbossts-full-4.2.3.SP7.zip"}
            %i.icon-download-alt
            Narayana 4.2.3.SP7 Binary
      %tr
        %td
        %td
        %td LGPL
        %td
          %a{:href => "https://www.jboss.org/jbosstm/downloads/4.2.3.SP7/src/jbossts-full-4.2.3.SP7-src.zip"}
            %i.icon-download-alt
            Narayana 4.2.3.SP7 Source Code
