---
layout: rightcol
rightcol_partial: rightcol-documentation.html.haml
title:  Transaction Fundamentals
---
%h1
  Transaction Fundamentals
%p
  This page contains references to a selection of papers around the fundamentals of transaction processing.
%p
  %b
    %a{:href => "https://downloads.jboss.org/jbosstm/dms/jbosstm/resources/reports/DistributedTransactions.pdf"}
      Why do you need (distributed) transactions?
  An overview of the things you should consider when deciding if you need transaction management in your architecture.
%p
  %b
    %a{:href => "https://downloads.jboss.org/jbosstm/dms/jbosstm/resources/reports/End-to-endtransactions.pdf"}
      What are end-to-end transactions and can JBossTS support them?
  An abridged version of this paper was published in the Java Developers Journal, 2001.
%p
  %b
    %a{:href => "https://downloads.jboss.org/jbosstm/dms/jbosstm/resources/papers/HPTS2001.pdf"}
      A framework for implementing extended transactions.
  A paper on the OMG's Extended Transaction framework, for the High Performance Transaction Systems Workshop, 2001.
%p
  %b
    %a{:href => "https://downloads.jboss.org/jbosstm/dms/jbosstm/resources/papers/HPTS2003.pdf"}
      Full circle for Web services transactions?
  A paper on the evolution of Web Services , for the High Performance Transaction Systems Workshop, 2003.
