.div
  %h2 Other Resources
  %ul.nav.nav-pills.nav-stacked
    %li{:class => "#{'active' if page.real_page.output_path.start_with?('/documentation/architecture')}"}
      %a{:href => "/documentation/architecture"}
        %i.icon-fixed-width.icon-arrow-right
        Architecture Documents
    %li{:class => "#{'active' if page.real_page.output_path.start_with?('/documentation/arjuna-core')}"}
      %a{:href => "/documentation/arjuna-core"}
        %i.icon-fixed-width.icon-arrow-right
        Arjuna Core
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Transaction Fundamentals
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        General
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Presentations
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Source Overview
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Code Swarm
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Features
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Java EE Support
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Platform Support
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Why To Chose Narayana
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Web Services Support
    %li
      %a{:href => "#"}
        General Reading List
