.div
  %h2 Other Resources
  %ul.nav.nav-pills.nav-stacked
    %li
      %a{:href => ""}
        %i.icon-fixed-width.icon-arrow-right
        Architecture Documents
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Arjuna Core
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Transaction Fundamentals
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        General
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Presentations
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Source Overview
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Code Swarm
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Features
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Java EE Support
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Platform Support
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Why To Chose Narayana
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-arrow-right
        Web Services Support
