.div
  %h2 Getting Started
  %ul.nav.nav-pills.nav-stacked
    %li
      %a{:href => href="https://www.jboss.org:80/narayana/downloads/latest.html"}
        %i.icon-fixed-width.icon-arrow-right
        Download the latest version of Narayana standalone
    %li
      %a{:href => href="https://ci.jboss.org/hudson/job/WildFly-latest-master/"}
        %i.icon-fixed-width.icon-arrow-right
        Or download the latest version of Narayana + WildFly
    %li
      %a{:href => href="https://www.jboss.org:80/narayana/documentation/latest.html"}
        %i.icon-fixed-width.icon-arrow-right
        Read our getting started documentation
    %li
      %a{:href => href="https://github.com/jbosstm/quickstart"}
        %i.icon-fixed-width.icon-arrow-right
        Run our quickstarts
    %li
      %a{:href => href="https://narayana.io/community/index.html"}
        %i.icon-fixed-width.icon-arrow-right
        Meet the team
    %li
      %a{:href => href="https://community.jboss.org/wiki/GetInvolvedWithNarayana"}
        %i.icon-fixed-width.icon-arrow-right
        Get involved!


.span4
  %section
    %h4 Latest forum discussions
    #forumDiv
    :javascript
      $(document).ready(function () {
        $('#forumDiv').FeedEk({
          FeedUrl: 'https://developer.jboss.org/view-browse-feed.jspa?containerType=14&userID=5690&browseSite=place-content&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D&browseViewID=placeContent&containerID=2040',
          MaxCount: 2,
          ShowDesc: false,
          CharacterLimit: 200
        });
      });
 
.span4
  %section
    %h4 Latest news
    #blogDiv
    :javascript
      $(document).ready(function () {
        $('#blogDiv').FeedEk({
          FeedUrl: 'https://jbossts.blogspot.com/feeds/posts/default',
          MaxCount: 2,
          ShowDesc: false,
          CharacterLimit: 200
        });
      });

.div
  %h2 Compliance 
.well
  #badges
    %ul{:style=>'list-style-type: none'}
      / Filler to center
      %li.pull-left
        %div{:style=>'width: 5px;height: 5px;'}
      %li.license-lgpl
        %a{:href => "https://www.gnu.org/licenses/lgpl-2.1.html"}
          %em GNU Lesser General Public License, Version 2.1
      %li.jsr
        %a{:href => "https://jcp.org/en/jsr/detail?id=342"}
          %span.implements JSR
          %br
          %span.version 907
      %li.arquillian
        %a{:href => "https://www.jboss.org/arquillian"} Tested with Arquillian
    %div{:style => "clear: both; height:1px;"}

%div#coolstuff
  %div{:style => "margin-top: 2px; margin-bottom: 15px; margin-right: 10px; text-align: center;"}
    %div{:style => "display: inline-block"}
      %a{:href => "https://design.jboss.org/coolstuff/wallpaper-narayana.html"}> Desktop Wallpaper
    &nbsp;|&nbsp;
    %div{:style => "display: inline-block"}
      %a{:href => "https://www.cafepress.com/jbossorg/7793745"} Project Swag
  %a{:href => "https://design.jboss.org/coolstuff/wallpaper-narayana.html"}
    %img{:alt => "Cool Stuff", :height => "110", :src => "/images/cool-stuff.png", :style => "margin:0 auto;", :width => "225", :class => "img-responsive"}/


.well.sponsors
  %h3 Sponsors
  %ul
    %li
      %a{:href => "https://www.redhat.com"}
        %img{:alt => "Red Hat", :src=>"https://static.jboss.org/theme/images/common/redhat_logo.png"}/
      %p Red Hat employs the majority of contributors and provides all project infrastructure.
    %li
      %a{:href => "https://www.ej-technologies.com/products/jprofiler/overview.html"}
        %img{:alt => "EJ-Technologies", :src => "https://www.ej-technologies.com/images/product_banners/jprofiler_large.png", :class => "img-responsive"}/
      %p EJ-Technologies has kindly provided free JProfiler licenses.
    %li{:style => "border: none;"}
      %a{:href => "https://www.jetbrains.com/"}
        %img{:alt => "JetBrains", :src => "https://static.jboss.org/common/images/sponsors/intellij-color.png", :class => "img-responsive"}/
      %p JetBrains has kindly donated an open source IntelliJ license.
    %li{:style => "border: none;"}
      %a{:href => "https://www.oxygenxml.com/"}
        %img{:alt => "Oxygen", :src => "/images/oxygen.png", :class => "img-responsive"}/
      %p JetBrains has kindly donated an open source IntelliJ license.

%div
  %a{:href => "https://www.jboss.org/security.html"}
    %img{:alt => "Find a security issue with a JBoss Project or Product? Report it now", :height => "110", :src => "https://static.jboss.org/common/images/securityissue.png", :class => "img-responsive"}/
