<footer class="footer text-muted text-center">
    <div class="commonhaus-footer">
      <div class="commonhaus-flexcontainer">
        <div class="commonhaus-logo">
          <a href="https://www.commonhaus.org/" target="_blank">
            <!-- renders only in light mode -->
            <img class="commonhaus-logo-default"
              src="https://raw.githubusercontent.com/commonhaus/artwork/main/foundation/brand/svg/CF_logo_horizontal_single_default.svg"
              alt="Commonhaus Foundation" />
            <!-- renders only in dark mode -->
            <img class="commonhaus-logo-reverse"
              src="https://raw.githubusercontent.com/commonhaus/artwork/main/foundation/brand/svg/CF_logo_horizontal_single_reverse.svg"
              alt="Commonhaus Foundation" />
          </a>
        </div>
        <div class="commonhaus-legal">
          Copyright &copy; <a href="/">Narayana</a>.
          All rights reserved. For details on our trademarks, please visit our
          <a href="https://www.commonhaus.org/policies/trademark-policy/">Trademark Policy</a> and
          <a href="https://www.commonhaus.org/trademarks/">Trademark List</a>.
          Trademarks of third parties are owned by their respective holders and their mention
          here does not suggest any endorsement or association.
        </div>
      </div>
    </div>
    <div class="container-xxl">
      <div class="row">
        <div class="col-lg-8 order-last order-lg-first">
          <ul class="list-inline">
            <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
          </ul>
        </div>
        <div class="col-lg-8 order-first order-lg-last text-lg-end">
          <ul class="list-inline ">
            {{ range .Site.Menus.footer -}}
              <li class="list-inline-item "><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end -}}
          </ul>
        </div>
      </div>
    </div>
  </footer>