---
layout: rightcol
title: Community
---

.row
  .col-md-4
    %h1
      Forum
    %p
      Narayana user forum is the best place to ask any project related questions, give suggestions, or request a new feature.
    %a{:href => "https://groups.google.com/forum/#!forum/narayana-users", :class => "btn btn-primary"}
      Visit Narayana Forum
  .col-md-4
    %h1
      IRC
    %p
      If you would like to chat with our team in real time, just join us on
      %a{:href => "https://webchat.freenode.net/?channels=#jbossts"}
        %code #jbossts
      IRC channel on
      %a{:href => "https://freenode.net"}
        Freenode.
      Please ping one of the dev team (username mention or PM) for attention such as tomjenkinson, mmusgrov, ochaloup.
    %a{:href => "https://webchat.freenode.net/?channels=jbossts", :class => "btn btn-primary"}
      Chat With Us
  .col-md-4
    %h1
      Blog
    %p
      All the latest Narayana project news and other interesting stuff is published in our blog.
    %a{:href => "https://jbossts.blogspot.co.uk", :class => "btn btn-primary"}
      Visit Narayana Blog

.row
  .col-md-8
    %h1
      Mailing Lists
    %p
      Also, we have a number of mailing lists available for you to subscribe:
    %ul
      %li
        %p
          %a{:href => "https://lists.jboss.org/mailman/listinfo/jbossts-announce"}
            %b jbossts-announce -
          Narayana project announcements.
          %p
            The archive is available at
            %a{:href => "https://lists.jboss.org/pipermail/jbossts-announce/"}
              https://lists.jboss.org/pipermail/jbossts-announce/
.row
  %h1 Social
  .col-md-6
    %h1
      Twitter
    %p
      We use hashtag #narayanaio
    %a{:href => "https://twitter.com/hashtag/narayanaio", :class => "btn btn-primary"}
      Twitter #narayanaio
  .col-md-6
    %h2
      Narayana_IO
    %h3
      Follow us!
    %p
      You can also follow our Narayana twitter account for our latest announcements
    .div{:style => "height: 250px"}
      %a{:class => "twitter-timeline", :href => "https://twitter.com/narayana_io", :height => "250"}
.row
  %h1 Our team
  .col-md-6
    %h2
      Mark Little
    %p
      I work for Red Hat, where I lead JBoss technical direction and research/development. Prior to this I was SOA Technical Development Manager and Director of Standards. I was Chief Architect and co-founder at Arjuna Technologies, an HP spin-off (where I was a Distinguished Engineer). I've been working in the area of reliable distributed systems since the mid-80's. My PhD was on fault-tolerant distributed systems, replication and transactions. I'm also a Professor at Newcastle University and Lyon.
    .div{:style => "height: 250px"}
      %a{:class => "twitter-timeline", :href => "https://twitter.com/nmcl", :"data-widget-id" => "532496403956649984", :height => "250"}
  .col-md-6
    %h2
      Michael Musgrove
    %h3
      Project Lead
    %p
      Michael Musgrove is a developer with 20+ years experience building distributed systems using CORBA, Java EE and OSI. He currently works in the transactions team at Red Hat, Inc implementing Java and C++ solutions for the middleware market.
    %p
      Prior to his role at Red Hat Michael was involved with a variety of technologies including software and hardware fault tolerance, management of distributed systems and systems management products for servers.
    %p
      His latest interests include how to apply these experiences in a REST setting.

.row
  .col-md-6
    %h2
      Ondra Chaloupka
    %p
      I joined the team with 5 years experience of QE engineer for JBoss EAP.
    %p
      Prior to work at Red Hat I gained experience in PHP web and Java EE logistic system development.
    .div{:style => "height: 250px"}
      %a{:class => "twitter-timeline", :href => "https://twitter.com/_chalda", :height => "250"}
  .col-md-6
    %h2
      Tom Jenkinson
    %p
      My technical specialisms include transaction and integration technologies. primarily in the distributed systems field.
    .div{:style => "height: 250px"}
      %a{:class => "twitter-timeline", :href => "https://twitter.com/tom_jenkinson", :"data-widget-id" => "532499035693662208", :height => "250"}

.row
  .col-md-6
    %h2
      Mayank Kunwar
    %p
      I started working for Red Hat in January 2020 and joined Narayana team as Software Engineer with overall 4 years of experience.
    %p
      Prior to this role, I have worked in distributed system projects, handling various components like Job scheduling, node management and managing transactions between nodes using Java EE technologies. In first year of my software career, I have also worked on C# technology.

.row
  .col-md-6
    %h2
      Other contributors:
    %ul
      %li Jonathan Halliday
      %li Amos Feng
      %li Gytis Trikleris
      %li Paul Robinson
      %li Andrew Dinn
      %li Kevin Conner.
      %li Richard Ackmatowicz.
      %li Machulak: MSc student.
      %li Ioannis Ganotis: MSc student.

%script
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
