---
layout: rightcol
title: Community
---

.row
  .col-md-4
    %h1
      Forum
    %p
      Narayana user forum is the best place to ask any project related questions, give suggestions, or request a new feature.
    %a{:href => "https://developer.jboss.org/en/jbosstm/?view=discussions", :class => "btn btn-primary"}
      Visit Narayana Forum
  .col-md-4
    %h1
      IRC
    %p
      If you would like to chat with our team in real time, just join us on
      %a{:href => "http://webchat.freenode.net/?channels=#jbossts"}
        %code #jbossts
      IRC channel on
      %a{:href => "http://freenode.net"}
        Freenode.
    %a{:href => "http://webchat.freenode.net/?channels=jbossts", :class => "btn btn-primary"}
      Chat With Us
  .col-md-4
    %h1
      Blog
    %p
      All the latest Narayana project news and other interesting stuff is published in our blog.
    %a{:href => "http://jbossts.blogspot.co.uk", :class => "btn btn-primary"}
      Visit Narayana Blog
.row
  .col-md-12
    %h1
      Mailing Lists
    %p
      Also, we have a number of mailing lists available for you to subscribe:
    %ul
      %li
        %p
          %a{:href => "https://lists.jboss.org/mailman/listinfo/jbossts-announce"}
            %b jbossts-announce -
          Narayana project announcements.
          %p
            The archive is available at
            %a{:href => "http://lists.jboss.org/pipermail/jbossts-announce/"}
              http://lists.jboss.org/pipermail/jbossts-announce/
.row
  %h1 Our team
  .col-md-6
    %h2
      Mark Little
    %h3
      Development Manager
    %p
      I work for Red Hat, where I lead JBoss technical direction and research/development. Prior to this I was SOA Technical Development Manager and Director of Standards. I was Chief Architect and co-founder at Arjuna Technologies, an HP spin-off (where I was a Distinguished Engineer). I've been working in the area of reliable distributed systems since the mid-80's. My PhD was on fault-tolerant distributed systems, replication and transactions. I'm also a Professor at Newcastle University.
    .div{:style => "height: 250px"}
      %a{:class => "twitter-timeline", :href => "https://twitter.com/nmcl", :"data-widget-id" => "532496403956649984", :height => "250"}
  .col-md-6
    %h2
      Tom Jenkinson
    %h3
      Project Lead
    %p
      I am the project lead for the Narayana project at Red Hat. I specialise in transaction and integration technologies primarily in the distributed systems field. I hold a 1st Class Honours degree in Computer Science from the University of Newcastle-upon-Tyne, UK. Prior to working at Red Hat, I worked on messaging and transaction products and as a senior consultant specialising in integration projects.
    .div{:style => "height: 250px"}
      %a{:class => "twitter-timeline", :href => "https://twitter.com/tom_jenkinson", :"data-widget-id" => "532499035693662208", :height => "250"}

.row
  .col-md-6
    %h2
      Paul Robinson
    %h3
      XTS Lead
    %p
      Dr Paul Robinson is a Senior Software Engineer at JBoss by Red Hat where he currently leads the Web Service Transactions.
    %p
      Paul has worked in the field of transactions and Java middleware for over 10 years. His experience began at Hewlett Packard where he was a member of the Transactions Team. Here he contributed to the first Web service transactions implementation. Previously, Paul headed up the consultancy arm of Arjuna Technologies, helping high-profile customers deploy JBoss Transactions, JBossWS and also Arjuna's Cloud Computing product.
    %p
      Paul received a PhD in middleware and non-repudiation from the University of Newcastle upon Tyne, where he now holds the role of Visiting Research Fellow. In this role he teaches Transactions and Java EE to Advanced-Masters students.
    .div{:style => "height: 250px"}
      %a{:class => "twitter-timeline", :href => "https://twitter.com/Pfrobinson", :"data-widget-id" => "532499915792842752", :height => "250"}
  .col-md-6
    %h2
      Michael Musgrove
    %p
      Michael Musgrove is a developer with 20+ years experience building distributed systems using CORBA, JEE and OSI. He currently works in the transactions team at Red Hat, Inc implementing Java and C++ solutions for the middleware market.
    %p
      Prior to his role at Red Hat Michael was involved with a variety of technologies including software and hardware fault tolerance, management of distributed systems and systems management products for servers.
    %p
      His latest interests include how to apply these experiences in a REST setting.
.row
  .col-md-6
    %h2
      Gytis Trikleris
    .div{:style => "height: 250px"}
      %a{:class => "twitter-timeline", :href => "https://twitter.com/blacktie_china", :"data-widget-id" => "532499915792842752", :height => "250"}
  .col-md-6
    %h2
      Amos Feng
    %p
      我在Redhat工作，参与Narayana项目的开发
    .div{:style => "height: 250px"}
      %a{:class => "twitter-timeline", :href => "https://twitter.com/blacktie_china", :"data-widget-id" => "532503585267777536", :height => "250"}
.row
  .col-md-6
    %h2
      Other contributors:
    %ul
      %li Jonathan Halliday
      %li Andrew Dinn
      %li Kevin Conner.
      %li Richard Ackmatowicz.
      %li Machulak: MSc student.
      %li Ioannis Ganotis: MSc student.

%script
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
