---
layout: rightcol
title: Community
---

.row
  .col-md-4
    %h1
      Forum
    %p
      Narayana user forum is the best place to ask any project related questions, give suggestions, or request a new feature.
  .col-md-4
    %h1
      Chat
    %p
      Start contributing to our open conversations in our Zulip open-source organisation!
  .col-md-4
    %h1
      Blog
    %p
      All the latest Narayana project news and other interesting stuff is published in our blog.

.row
  .col-md-4
    %a{:href => "https://groups.google.com/forum/#!forum/narayana-users", :class => "btn btn-primary"} Visit Narayana Forum
  .col-md-4
    %a{:href => "https://narayana.zulipchat.com", :class => "btn btn-primary"} Chat With Us
  .col-md-4
    %a{:href => "https://jbossts.blogspot.co.uk", :class => "btn btn-primary"} Visit Narayana Blog

.row
  .col-md-6
    %h1
      Mailing Lists
    %p
      Also, we have a number of mailing lists available for you to subscribe:
    %ul
      %li
        %p
          %a{:href => "https://lists.jboss.org/mailman/listinfo/jbossts-announce"}
            %b jbossts-announce -
          Narayana project announcements.
          %p
            The archive is available
            %a{:href => "https://lists.jboss.org/pipermail/jbossts-announce/"}
              here
  .col-md-6
    %h1
      Twitter
    %p
      Follow us on our 
      %a{:href => "https://twitter.com/narayana_io"} Narayana twitter account!
      We use the hashtag #narayanaio
    %a{:href => "https://twitter.com/hashtag/narayanaio", :class => "btn btn-primary"}
      Twitter #narayanaio

.row
  %h1 Our team
  .col-md-6
    %h2
      Mark Little
    %p
      I work for Red Hat, where I lead JBoss technical direction and research/development. Prior to this I was SOA Technical Development Manager and Director of Standards. I was Chief Architect and co-founder at Arjuna Technologies, an HP spin-off (where I was a Distinguished Engineer). I've been working in the area of reliable distributed systems since the mid-80's. My PhD was on fault-tolerant distributed systems, replication and transactions. I'm also a Professor at Newcastle University and Lyon.
    .div{:style => "height: 250px"}
      %a{:class => "twitter-timeline", :href => "https://twitter.com/nmcl", :"data-widget-id" => "532496403956649984", :height => "250"}
  .col-md-6
    %h2
      Michael Musgrove
    %h3
      Project Lead
    %p
      Michael Musgrove is a developer with 20+ years experience building distributed systems using CORBA, Java EE and OSI. He currently works in the transactions team at Red Hat, Inc implementing Java and C++ solutions for the middleware market.
    %p
      Prior to his role at Red Hat Michael was involved with a variety of technologies including software and hardware fault tolerance, management of distributed systems and systems management products for servers.
    %p
      His latest interests include how to apply these experiences in a REST setting.

.row
  .col-md-6
    %h2
      Tom Jenkinson
    %p
      My technical specialisms include transaction and integration technologies. primarily in the distributed systems field.
    .div{:style => "height: 250px"}
      %a{:class => "twitter-timeline", :href => "https://twitter.com/tom_jenkinson", :"data-widget-id" => "532499035693662208", :height => "250"}
  .col-md-6
    %h2
      Manuel Finelli
    %p
      Joined the JBoss Transaction team in 2020 with 6+ years experience in software engineering.
    .div{:style => "height: 250px"}
      %a{:class => "twitter-timeline", :href => "https://twitter.com/jmfinelli", :height => "250"}

.row
  .col-md-6
    %h2
      Marco Sappé Griot
    %p
      Marco has a number of years experience as a Java back-end developer developing applications and microservices on various platforms including SpringBoot, Kubernetes and Openshift.

.row
  .col-md-6
    %h2
      Other contributors:
    %ul
      %li Jonathan Halliday
      %li Amos Feng
      %li Gytis Trikleris
      %li Paul Robinson
      %li Andrew Dinn
      %li Ondra Chaloupka
      %li Kevin Conner.
      %li Richard Ackmatowicz.
      %li Machulak: MSc student.
      %li Ioannis Ganotis: MSc student.

%script
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
