---
layout: rightcol
rightcol_partial: rightcol-documentation.html.haml
title:  Platform Support
---
%h1
  Platform Support
%ul
  %li
    Supported Java runtime environments:
    %ul
      %li
        J2SE1.3.x
      %li
        J2SE1.4.x
      %li
        J2SE1.5x (in JBossAS 5.0)
  %li
    Web services plaforms:
    %ul
      %li
        webMethods Glue 5
      %li
        Apache Axis on JBoss
      %li
        WebLogic
  %li
    JBossTS is 100% Java and should therefore operate on any operating system with a suitable Java runtime environment. However, JBossTS is explicitly QA'd and supported on the following operating systems:
    %ul
      %li
        Microsoft Windows 2000 Professional / Server
      %li
        Microsoft Windows XP Professional SP2
      %li
        Sun Solaris 8 (Sparc)
      %li
        HP-UX 11i (PA-RISC)
      %li
        HP-UX 11i (Itanium in 64 bit mode)
      %li
        Redhat Linux 7.3 (Intel Pentium)
  %li
    Optional databases:
    %ul
      %li
        Oracle 8.1.7, 9i and 10g
      %li
        SQL Server 2000
