/** Custom styles */
#badges .arquillian a {
  background: url(https://static.jboss.org/common/images/licenses/badges-sprite.gif) no-repeat 0 0;
  color: #666;
  display: block;
  padding: 4px 0;
  margin-left: 10px;
  padding-left: 30px;
  text-decoration: none;
  text-shadow: 2px 2px 2px #fff;
}

.row2{
  position: relative;
  text-align: right;
  color: white;
  --bs-gutter-x: 0px;
}


.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  max-width: 70%;
}

.top-right {
  margin-top: 8px;
  width: 130px;
  height: 20px;
  background-color: rgba(66, 66, 66, 0.75);
  filter: alpha(opacity=75);
  color: #e6e7e8;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

}

.tabnav-closed {
  display: block;
  float: right;
  height: 40px;
  overflow: hidden;
  position: absolute;
  background-position: right top;
  text-indent: -2000px;
  width: 250px;
  z-index: 999;
  top: 0px;
  right: 4px;
  background-repeat: no-repeat;

}
.tabnav-closed::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: url("https://static.jboss.org/common/images/arrow-tabnav-down.png") no-repeat scroll 0 0 transparent;
  content: "x";
  height: 15px;
  position: absolute;
  right: 12px;
  top: 9px;
  width: 13px;
}

.dropup {
  height: 37px;
  background-image: url("https://static.jboss.org/common/images/tabzilla/tabzilla-redhat-logo-sprite.png");
  background-repeat: no-repeat;
  background-position: right top;
  width: 250px;
  background-color: transparent;
  position: absolute;
  right: 40px;
  margin-bottom: -40px;
  z-index: 999;
  text-align: center;
  margin-top: -1px !important;
}